body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

span {
  color: aqua;
}

.section-1 {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  width: 100%;
}

#special-font {
  font-family: "Dancing Script", cursive;
}

#guy-img img {
  width: 65%;
}

.width-control {
  padding-left: 96px;
}
.button {
  text-decoration: none;
  padding: 10px 30px;
  background-image: linear-gradient(rgb(105, 230, 105), aquamarine);
  border-radius: 7px;
}
.s1-div1 {
  width: 100%;
  padding-top: 128px;
}
.blue-border {
  border-left: 5px solid;
  border-image: linear-gradient(steelblue, aquamarine);
  border-image-slice: 8;
}
h1 {
  font-size: 50px;
}

.section-2 {
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 150px;
}

#s2-text {
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  margin-top: 32px;
}

.s2-img {
  width: 30%;
}

.card-1 {
  background-color: rgb(250, 250, 201);
  margin-left: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 5px 20px;
}
.card-2 {
  background-color: rgb(247, 182, 182);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 100%;
  padding: 5px 20px;
}
.card-3 {
  background-color: rgb(196, 244, 247);
  margin-right: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 5px 20px;
}

.section-3 div img {
  width: 70%;
}

.section-3 {
  display: flex;
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 150px;
}
.s3-img {
  background-image: url(img/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: left;
}

#s4-img {
  padding-left: 25%;
}

.s4-img {
  background-image: url(img/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right;
}

#s5-h1 {
  text-align: center;
}
.section-5 {
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 150px;
}

#s5-title {
  text-align: center;
}

#s5-img {
  max-width: 100%;
  border-radius: 10px;
}

.s5-text {
  width: 100%;
  padding-bottom: 60px;
  padding-left: 60px;
}

.s5-alignment {
  display: flex;
}

footer {
  background-color: black;
  border-top: 20px black solid;
  border-bottom: 20px black solid;
  line-height: 15px;
  margin-top: 200px;
}
footer h1 {
  text-align: center;
  color: aliceblue;
  font-family: "Dancing Script", cursive;
}
footer p {
  text-align: center;
  color: aliceblue;
}
